.container1 {
  width: 100%;
  max-width: 71.25rem;
  padding: 1.25rem 2rem;
  margin: 0 auto;
  padding: 8.5rem 2rem 4rem;
  text-align: center;
  line-height: 1.5;
}
.container2 {
  width: 100%;
  max-width: 71.25rem;
  padding: 1.25rem 2rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  line-height: 1.5;
}
.section-title {
  display: table;
  font-weight: 600;
  font-size: 3rem;
  margin: 0 auto 3rem;
  border-bottom: 1px solid black;
}
