.section-1 {
  background-color: rgba(145, 141, 139, 0.856);
}
.masthead-title {
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
}
.masthead-detail {
  font-weight: 400;
  font-size: 1.25rem;
  color: hsla(0, 0%, 100%, 0.75);
}
.masthead-hr {
    width: 4rem;
    height: 0;
    margin: 1.5rem auto;
    border: none;
    border-top: .2rem solid #f4623a;
}
