.navigation {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 10;
}
.nav-bar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: end;
}
.nav {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  height: 64px;
  border-radius: 2px 2px 30px 30px;
  padding-right: 1rem;

  .nav-ul {
    display: flex;
  }

  .nav-li {
    margin-left: 1rem;
    padding: 1.5rem;
    float: right;
    border: 0;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
