.section-3 {
  background-color: lightyellow;
}
.section-third {
  width: 100%;
  max-width: 71.25rem;
  padding: 1.25rem 2rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  line-height: 1.5;
}
.section-title {
  font-weight: 400;
  font-size: 3rem;
}
.skills-list {
  display: flex;
  flex-flow: column wrap;
  height: 50rem;
}
.stack {
  p {
    font-weight: 700;
    font-size: 1.5rem;
    color: #f4623a;
  }
  img {
    height: 100px;
    margin: 0 0.2rem;
    border: 1px solid none;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .skill-icon{
    padding: 0 0.5rem;
  }
}
