.section-2 {
  background-color: white;
}

.section-second {
  width: 100%;
  max-width: 71.25rem;
  padding: 1.25rem 2rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  line-height: 1.5;
}

.section-title {
  display: table;
  font-weight: 600;
  font-size: 3rem;
  margin: 0 auto 3rem;
  border-bottom: 1px solid black;
}

.wrap {
  display: flex;
  flex-flow: row wrap;
}

.wrap-content {
  margin-bottom: 2rem;
  width: 33.3%;
  text-align: start;
}

.info-area {
  display: flex;
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
}

.info-label {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.info-value {
  font-weight: 400;
  font-size: 1rem;
}

.info {
  margin-left: 2rem;
}

.section-4 {
  background-color: #222222;
}

.section-fourth {
  width: 100%;
  max-width: 71.25rem;
  padding: 1.25rem 2rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  line-height: 1.5;
}
.section-fourth .section-title {
  color: white;
  border-color: white;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.wrapper img {
  height: 100px;
}

.archive-container {
  width: 26rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
}
.archive-container a {
  color: #58a1df;
  text-decoration: none;
}
.archive-container a:hover {
  text-decoration: underline;
}

.section-1 {
  background-color: rgba(145, 141, 139, 0.856);
}

.section-first {
  width: 100%;
  max-width: 71.25rem;
  padding: 1.25rem 2rem;
  margin: 0 auto;
  padding: 8.5rem 2rem 4rem;
  text-align: center;
  line-height: 1.5;
}

.masthead-title {
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
}

.masthead-detail {
  font-weight: 400;
  font-size: 1.25rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.masthead-hr {
  width: 4rem;
  height: 0;
  margin: 1.5rem auto;
  border: none;
  border-top: 0.2rem solid #f4623a;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: end;
}

.title {
  margin-left: 18rem;
  padding: 1.25rem 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  height: 64px;
  border-radius: 2px 2px 30px 30px;
  padding-right: 1rem;
}

.nav-ul {
  display: flex;
}

.nav-li {
  margin-left: 1rem;
  padding: 1.5rem;
  float: right;
  border: 0;
  cursor: pointer;
  opacity: 0.6;
}
.nav-li:hover {
  opacity: 1;
}

.page-up-btn {
  border: 1px solid black;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 {
  background-color: skyblue;
}

.section-fifth {
  width: 100%;
  max-width: 71.25rem;
  padding: 1.25rem 2rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  line-height: 1.5;
}

.pj-container {
  padding: 3rem;
  margin: 0 auto 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, 0.2);
}

.pj-title {
  padding-bottom: 0.5rem;
  font-weight: 400;
  font-size: 2.5rem;
  color: #222;
  text-align: center;
}

.pj-span {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
  color: #6c757d;
  text-align: center;
  opacity: 0.8;
}

.pj-detail {
  display: flex;
  justify-content: center;
}

.pj-img {
  width: 50%;
  padding-right: 1rem;
}
.pj-img img {
  width: 100%;
}

.pj-description {
  width: 50%;
  padding-left: 1rem;
}

.main-des {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.sub-des {
  display: flex;
  margin-bottom: 1rem;
  text-align: left;
}
.sub-des a {
  color: #58a1df;
  text-decoration: none;
}
.sub-des a:hover {
  text-decoration: underline;
}

.label {
  width: 6rem;
  font-weight: 900;
}

.value {
  width: calc(100% - 6rem);
}

.section-3 {
  background-color: #ffc107;
}

.section-third {
  width: 100%;
  max-width: 71.25rem;
  padding: 1.25rem 2rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  line-height: 1.5;
}

.skills-list {
  display: flex;
  flex-flow: column wrap;
  height: 55rem;
  align-content: space-around;
}

.stack {
  display: table;
  width: 18.5rem;
  margin: 0 1rem;
  background-color: white;
  border-radius: 16px;
  box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, 0.2);
  margin-bottom: 2rem;
  padding: 1rem;
}
.stack p {
  font-weight: 700;
  font-size: 1.5rem;
  color: #f4623a;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
.stack .skill-icon {
  padding: 1rem 0;
}/*# sourceMappingURL=style.css.map */